{% extends "layout.html" %}
{% load static %}

{% block title %}Order Cancelled{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'orders/cancel.css' %}" />
{% endblock %}
{% block content %}
<main class="container">
    <div class="card">
        <h2>Your order has been cancelled</h2>
        <p class="lead">We're sorry to see you go. If you have any questions, feel free to contact us.</p>
        <a href="{% url 'pages:home' %}" class="btn btn-primary">
            <button type="button">
                Continue Shopping
            </button>
        </a>
    </div>
</main>
{% endblock %}