{% extends "layout.html" %}
{% load static %}

{% block title %}Order Successful{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'orders/success.css' %}" />
{% endblock %}
{% block content %}
<main class="container">
    <div class="card">
        <h2>Thank you for your order!</h2>
        <p class="lead">Your payment was successful. We appreciate your business!</p>
        <a href="{% url 'pages:home' %}" class="btn btn-primary">
            <button type="button">
                Continue Shopping
            </button>
        </a>
    </div>
</main>
{% endblock %}