.container{
    margin-top: 100px;
    min-height: 100vh;
}

.card{
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.card h2{
    font-size: 24px;
    margin-bottom: 14px;
}

.card p{
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

button{
    padding: 12px 24px;
    border:none;
    border-radius: 0px;
    font-weight: 400;
}

button:hover{
    background-color: #333;
}