.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

h1{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
}

form{
    margin-top: 20px;
}

input, textarea {
  margin-bottom: 10px;
  margin-top:4px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
}

button{
    border: 0;
    border-radius: 0;
    padding: 12px 16px;
    font-weight: 400;
    margin-left:auto;
    display: block;
}