main{
    min-height: 100vh;
    padding: 24px;
    max-width: 80%;
    margin: 0 auto;
}

main h1{
    text-align: left;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}

form{
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    outline:none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

label{
    font-weight: 400;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

button:hover{
    background-color: #333;
}

label{
    display: block;
    margin-top: 12px;
}

ul{
    list-style-type: none;
    padding: 0;
    color: #666;
    font-size: 12px;
    margin: 8px 0;
}

.helptext{
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    margin-bottom: 8px;
}

.login{
    text-align: center;
    margin-top: 16px;
}

.error{
    color: red;
    font-size: 12px;
}